<h2>Search result  here</h2>
<div>
      <div> 
        
        <img src="<%=data['Poster']%>" alt="" srcset="">      
          
       <div> 
          <strong>
            <%= data["Title"]%>
          </strong> -
          <em>
            <%=data["Year"]%>
          </em>  
        </div>
        <div>
           <p><%= data["Plot"] %></p> 
        </div>
      </div> 
  </div>